.nuevo .productos-home, .grid-productos, .somos-info, .rebaja, .registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }

.grid-productos .info-producto, .rebaja .info-producto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center; }

.cuerpo-home {
  background-color: #353531;
  color: aliceblue;
  font-family: aboreto; }

.slider img {
  width: 100%;
  height: auto;
  justify-content: center; }

.iconos {
  display: none; }

.nuevo h1 {
  background-color: black;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 30px; }

.nuevo .playeras-reel {
  display: grid;
  align-items: center;
  justify-items: center; }

.nuevo img {
  width: 350px; }

.nuevo .boton {
  text-decoration: none;
  border: .11rem solid;
  border-color: aliceblue;
  border-radius: 1rem;
  padding: 0.6rem;
  margin: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15rem; }

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 3rem;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  align-items: center; }
  footer .iconos-home {
    display: flex;
    flex-direction: row; }
  footer img {
    width: 50px;
    margin: 1rem;
    margin-top: -.5rem; }

.carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  /* margin-bottom: 20px; */ }
  .carrito h1 {
    font-size: 20px; }

.imagen-productos img {
  width: 100%;
  height: auto;
  justify-content: center; }

.grid-productos {
  margin-top: 2rem; }
  .grid-productos img {
    width: 350px; }
  .grid-productos .info-producto .boton {
    text-decoration: none;
    border: .11rem solid;
    border-color: aliceblue;
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15rem; }
  .grid-productos .info-producto p {
    font-size: 30px; }

.somos-info {
  margin-top: 1rem; }
  .somos-info img {
    width: 350px; }
  .somos-info p {
    background-color: #272727;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: 10px; }

.rebaja h1 {
  margin-top: 2rem;
  padding: 1rem;
  background-color: black;
  border-radius: 10px; }

.rebaja h2 {
  font-size: 20px;
  text-align: center;
  margin: 1rem; }

.rebaja .info-producto {
  justify-content: space-evenly; }

.rebaja .boton {
  text-decoration: none;
  border: .11rem solid;
  border-color: aliceblue;
  border-radius: 1rem;
  padding: 0.6rem;
  margin: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15rem; }

.rebaja .antes {
  margin: 1rem;
  text-decoration: line-through; }

.rebaja .ahora {
  margin: 1rem;
  font-size: 30px; }

.rebaja img {
  width: 350px; }

.registro {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .registro .formulario {
    background-color: #272727;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem; }
    .registro .formulario ul {
      list-style: none;
      margin-right: 2rem; }
    .registro .formulario label {
      display: inline-block;
      width: 90px;
      text-align: right;
      margin: 1rem;
      margin-right: 2rem;
      font-size: 15px; }
    .registro .formulario #msg {
      height: 100px; }
    .registro .formulario .boton {
      text-decoration: none;
      border: .11rem solid;
      border-color: aliceblue;
      border-radius: 1rem;
      padding: 0.6rem;
      margin: 1rem;
      color: white;
      font-weight: bold;
      letter-spacing: 0.15rem;
      display: flex;
      flex-direction: column;
      align-items: center; }

.mapa {
  margin: 2rem;
  width: 350px;
  border-radius: 10px; }

@media screen and (min-width: 600px) {
  .iconos {
    background-color: #272727;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 2rem; }
    .iconos .cajas {
      display: grid;
      align-items: center;
      justify-items: center; }
    .iconos img {
      width: 100px;
      margin: 1rem;
      animation-name: animacion;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.452)); }
  @keyframes animacion {
    0% {
      transform: translateY(0px); }
    50% {
      transform: translateY(3px); }
    100% {
      transform: translateY(0); } }
  .nuevo h1 {
    font-size: 50px; }
  .nuevo .productos-home {
    display: flex;
    flex-direction: row; }
  .nuevo .playeras-reel {
    display: grid;
    align-items: center;
    justify-items: center; }
  .nuevo img {
    width: 400px;
    margin: 1rem; }
    .nuevo img:hover {
      opacity: 0.5; }
  .nuevo .boton {
    text-decoration: none;
    border: .11rem solid;
    border-color: aliceblue;
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15rem; }
    .nuevo .boton:hover {
      transform: scale(1.1); }
  .grid-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .grid-productos .boton {
      text-decoration: none;
      border: .11rem solid;
      border-color: aliceblue;
      border-radius: 1rem;
      padding: 0.6rem;
      margin: 1rem;
      color: white;
      font-weight: bold;
      letter-spacing: 0.15rem; }
      .grid-productos .boton:hover {
        transform: scale(1.1); }
  .somos-info {
    display: flex;
    flex-direction: row;
    margin: 3rem; }
    .somos-info p {
      width: 500px;
      font-size: 20px; }
  .rebaja .boton {
    text-decoration: none;
    border: .11rem solid;
    border-color: aliceblue;
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15rem; }
    .rebaja .boton:hover {
      transform: scale(1.1); }
  .registro {
    display: flex;
    flex-direction: row; }
    .registro .formulario {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .registro .formulario .boton {
        text-decoration: none;
        border: .11rem solid;
        border-color: aliceblue;
        border-radius: 1rem;
        padding: 0.6rem;
        margin: 1rem;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15rem; }
        .registro .formulario .boton:hover {
          transform: scale(1.1); } }
